<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WatchDog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=bridgeServer99;Persist Security Info=true; MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <WatchDog.Properties.Settings>
      <setting name="WatchDog_WebReference_AMSWebService" serializeAs="String">
        <value>http://t1mesvip01/AMSWebService/AMSWebService.asmx</value>
      </setting>
    </WatchDog.Properties.Settings>
  </applicationSettings>
  <appSettings>
   <add key="appLocation" value="D:\1amkor\bridgeServerMSSQL_Amkor_180925\1116\bridgeServerMSSQL_Amkor\bin\Debug\BridgeServerMSSQL.exe" />
   <add key="webServerIP" value="http://127.0.0.1/Dashboard" />
   <add key="APServerIP" value="http://10.185.75.2" /> 
   <add key="timmer" value="60" />
   <add key="IStrxOpen" value="false" />
   <add key="ISSendEmail" value="true" />
   <add key="ISCloseProcess" value="true" /> <!-- 如果是false tryTimes 要設 -1 -->
   <add key="ClosePassword" value="close" />  
   <add key="tryTimes" value="2" />
   <add key="sendEmailAddress" value="davis.kuan@amkor.com" />
   <add key="sleep" value="60" />    
  </appSettings>
</configuration>